{% extends 'main/base.html' %}


{% block content %}


<div class="container">
    <div class="myBox">
        <h4>Register an account</h4>
    <div class="form-group">
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}

            <br>
            <input type="submit" value="Register" class="btn btn-danger"><br>
            <i>Already a member? <a href="{% url 'accounts:login' %}">Sign In Here</a></i>
        </form>
    </div>
</div>
</div>
{% endblock %}