{% extends 'main/base.html' %}


<!-- <h1>{{ event.event_name }}</h1>

<h4>Created by: {{ event.created_by }}</h4>
<h4>Created On: {{ event.created_on }}</h4>

<form action="" method="post">

    <textarea name="" id="" cols="30" rows="10"></textarea>
    <br><input type="submit" value="Comment">
</form>

<h1>Comments</h1> -->




{% block content %}

<div class="container">
<div class="row">
    <div class="col-md-8">
    <div class="myCard">
        <h3 id="gFont">{{ event.event_name }}</h3>
        <h6>Created By: <strong> {{ event.created_by }}</strong></h6>
        <h6>Created On: <strong> {{ event.created_on }}</strong></h6>
        <h6>Assigned Members: {% for volunteer in event.volunteers.all %} <span class="badge badge-primary">{{ volunteer.username }}</span> {% endfor %}</h6>
    </div>
</div>

<div class="col-md-4">
    <h5>Add Volunteers</h5>
    <form action="" method="GET">
    <input type="text" name="volunteers" class="form-control">
    
</form>

<div class="myCard">
    {% for result in users %}
        
    <li><span>{{ result.username }}</span>&nbsp; &nbsp; &nbsp; &nbsp;
        {% if not result in event.volunteers.all %}
        <a href="{% url 'main:add_volunteers' event.slug result.username %}"><i class="fas fa-user-plus"></i></a></li>
        
        {% else %}

        <a href="{% url 'main:remove_volunteers' event.slug result.username %}"><i class="fas fa-user-times"></i></a>
        {% endif %}

        {% endfor %}
</div>
</div>

</div>
</div>
<br><br>
<div class="container">
    <!-- tasks for the events -->
    <div class="tasks">
            <div id="accordion">
                    <div class="card">

                        {% if request.user.is_superuser %}

                            <a href="{% url 'main:add_task' event.slug %}" data-toggle="modal" data-target=".bd-example-modal-sm"  class="btn btn-danger">Add a new Task</a>
                        
                            <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm">
                                      <div class="modal-content">
                                          <div class="container">
                                              <h4 class="text-center">Add New Task</h4>
                                              <form action="{% url 'main:add_task' event.slug%}" method="post">
                                                  {% csrf_token %}
                                                  <label for="">Enter Task Name</label>
                                                  <input type="text" class="form-control" style="background:#c4f2ee;" autofocus name="task">
                                                  <br>
                                                  <input type="submit" value="Submit" class="btn btn-danger">
                                              </form>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                
                                <!-- end of test her -->
                            {% endif %}

                    {% if not tasks %}
                        <h5 class="text-center"><i>No Tasks assigned yet.</i></h5>
                    {% else %}



                    {% for task in tasks %}
                      <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                          <button class="btn btn-link" data-toggle="collapse" data-target="#{{ task.id }}" aria-expanded="true" aria-controls="collapseOne">
                            {{ task.title }}
                          </button>

                          {% if request.user.is_superuser or request.user in event.volunteers.all %}
                                {% if not task.completed %}
                                <a href="{% url 'main:close_task' task.id event.slug %}" class="btn btn-danger">Close Task</a>
                          
                                {% else %}
                                <i class="fas fa-check" style="color: green;"></i>
                                {% endif %}
                                {% endif %}
                        </h5>
                      </div>
                  
                      <div id="{{ task.id }}" class="collapse" aria-labelledby="headingOne" data-parent="">
                        <div class="card-body">
                                {% for taskComment in taskcomments %}
                                    {% if taskComment.task.id == task.id %}
                                        <div class="speech-bubble">
                                        <a href="#">{{ taskComment.posted_by }}</a>
                                        <i>{{ taskComment.posted_on }}</i>
                                        <p>{{ taskComment.description }}</p>
                                    </div>
                                    {% else %}
                                    {% endif %}
                                {% endfor %}
                            <form action="" method="post">
                                {% csrf_token %}
                                <textarea name="{{ task.id }}" id="" cols="100" rows="2"></textarea>
                                <input type="submit" class="btn btn-danger" value="Comment">
                            </form>
                        </div>
                      </div> 
                    
                    {% endfor %}
                </div>
                    {% endif %}
                      </div>
                      </div>
                      
    </div>


{% endblock %}